* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
    height: 3000px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1200px;
    margin: auto;
}

.header {
    width: 1200px;
    height: 42px;
    /*padding: 29px 0;*/
    margin: 30px auto;
}

.header-logo {
    float: left;
}

.header-nav {
    /*line-height: 42px;*/
    margin: 0 30px;
    float: left;
}

.header-nav ul {
    float: left;
}

.header-nav li {
    float: left;
    margin: 0 15px;
}

.header-nav a {
    display: inline-block;
    padding: 0 10px;
    color: #000;
    height: 42px;
    line-height: 42px;
}

.header-nav a:hover {
    border-bottom: 2px solid deepskyblue;
    color: deepskyblue;
}

.header-search {
    float: left;
    width: 426px;
    background-color: blue;
}

.search-input {
    float: left;
    border: 1px solid deepskyblue;
    height: 40px;
    width: 360px;
    border-right: 0;
    /*text-indent: 2em;*/
    padding-left: 15px;
}

.search-button {
    float: left;
    height: 42px;
    width: 50px;
    border: 0;
    background: url("../image/fa-search.png");
}

.header-user {
    float: left;

}

.user-icon {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../image/20130502185029_EkKYh拷贝.png") no-repeat;
    margin: 6px 6px 6px 20px;
}

.user-name {
    float: left;
    line-height: 42px;
    font-size: 14px;
    color: #666666;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner-carousel {
    height: 420px;
    background: url("../image/banner2.png");
}

.banner-nav {
    float: left;
    /*width: 190px;*/
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);

}

.banner-nav ul {
    float: left;
    width: 190px;
    /*height: 420px;*/

    padding-top: 16px;
}

.banner-nav ul li {
    padding: 0 20px;
    height: 44px;
}

.banner-nav ul li a {
    color: #ffffff;
    font-size: 14px;
}

.banner-nav ul li a span {
    float: right;
}

.banner-nav ul li a:hover {
    color: deepskyblue;
}

.banner-timetable {
    float: right;
    height: 300px;
    width: 230px;
    background: #ffffff;
    margin: 60px auto;
}

.banner-timetable-title {
    background-color: #9bceea;
    color: #ffffff;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;

}

.banner-timetable-list {
    padding: 0 20px;
}

.banner-timetable-list li {
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.banner-timetable-list li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.banner-timetable-list li div {
    font-size: 12px;
    color: #a5a5a5;
}

.banner-timetable-all a {
    display: block;
    margin: 5px 0;
    height: 38px;
    line-height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    color: #00a4ff;
}

.recommend {
    margin: 8px auto;
    height: 60px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    /*line-height: 60px;*/
    /*padding: 15px 0;*/
}

.recommend-title {
    float: left;
    padding: 0 35px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}

.recommend-content {
    float: left;
    margin: 20px 0;

}

.recommend-content ul {
    float: left;
}

.recommend-content li {
    float: left;
    padding: 0 30px;
    border-left: 1px solid #bfbfbf;
}

.recommend-content li a {
    color: #050505;
}

.recommend-content button {
    float: left;
}

.recommend-alter {
    float: right;
    line-height: 60px;
    padding-right: 20px;
    color: deepskyblue;
    font-size: 14px;
}

.recommend-big {
    height: 602px;
    margin-top: 30px;
}

.recommend-big-title {
    font-size: 20px;
    color: #494949;
    padding: 0 0 22px 0;
}

.recommend-big-list {
    width: 1215px;
}

.recommend-big-list li {
    float: left;
    height: 270px;
    width: 228px;
    background-color: #ffffff;
    margin: 0 15px 14px 0;
}

.recommend-big-list-img1 {
    height: 155px;
}

.recommend-big-list-img1 img {
    width: 100%;
}

.recommend-big-list-item1 h3 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
}

.recommend-big-list-item1-info {
    font-size: 12px;
    color: #999999;
    margin: 0 20px 0 25px;
}
.recommend-big-list-item1 span {
    color: #ff7c2d;
    margin-right: 10px;
}
