<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="./css/bootstrap-3.3.7.css">
    <!-- Vue开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>
<body>
<div id="app" class="comment" style="margin:50px;">

    <comment-box @refresh="getComments"></comment-box>

    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人：{{ item.user }}</span>
            {{ item.content }}
        </li>
    </ul>

</div>

<template id="tmpl">
    <div>
        <div class="form-group">
            <label>评论人：</label>
            <label>
                <input type="text" class="form-control" v-model="user">
            </label>
        </div>
        <div class="form-group">
            <label>评论：</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>
        <div class="form-group">
            <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
        </div>
    </div>


</template>

<script>
    var commentBox = {
        template: '#tmpl',
        data() {
            return {
                user: '',
                content: ''
            }
        },
        methods: {
            postComment() {
                const comment = {id: Date.now(), user: this.user, content: this.content};
                //注意学习这个写法
                const list = JSON.parse(localStorage.getItem('cmts') || '[]');
                list.unshift(comment);
                localStorage.setItem('cmts', JSON.stringify(list));
                this.user = this.content = '';
                this.$emit('refresh');
            }
        }
    };

    var vm = new Vue({
        el: '#app',
        props: ['comment'],
        data: {
            list: [
                {id: 1, user: '李白', content: '天生我材必有用'},
                {id: 2, user: '江小白', content: '劝君更尽一杯酒'},
                {id: 3, user: '小马', content: '我姓马， 风吹草低见牛羊的马'}
            ]
        },
        components: {
            commentBox
        },
        created() {
            this.getComments();
        },
        methods: {
            getComments() {
                this.list = JSON.parse(localStorage.getItem('cmts') || '[]');
            }
        }
    })

</script>
</body>
</html>
