@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.red {
    color: red;
}

/*---------shortcut------------*/

.shortcut {
    height: 31px;
    background-color: #eee;
    line-height: 31px;

}

.shortcut a {
}

.shortcut-left {
    float: left;
}

.shortcut-right {
    float: right;
}

.shortcut-right li {
    float: left;
}

.shortcut-right li:nth-child(2n) {
    width: 1px;
    height: 11px;
    background-color: #757575;
    margin: 11px 5px 0;
}

.shortcut-right li a {
    padding: 0 7px;
}

/*---------header------------*/

.header {
    position: relative;
    padding-top: 27px;
    height: 115px;
}

.search,
.hotwords {
    position: absolute;
    left: 50%;
    margin-left: -269px;
    height: 35px;
    width: 538px;
}

.hotwords {
    bottom: 15px;
}

.logo,
.search-input,
.search-button {
    float: left;
}

.logo {
    height: 61px;
    width: 171px;
}

.logo a {
    display: block;
    height: 61px;
    width: 171px;
    background: url("../images/logo.png") no-repeat;
    font-size: 0;
}

.search-input {
    /*float: left;*/
    width: 455px;
    height: 35px;
    border: 1px solid #b1191a;
    padding-left: 10px;
}

.search-button {
    /*float: left;*/
    width: 83px;
    height: 35px;
    background-color: #b1191a;
    color: #ffffff;
    font-size: 16px;
}

.hotwords a {
    float: left;
    padding: 7px 12px 0;
    font-size: 12px;
}

.cart {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.count {
    position: absolute;
    top: -6px;
    left: 105px;
    height: 14px;
    padding: 0 5px;
    /*会继承父元素的行高，覆盖掉*/
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
}

/*--------------------nav-----------------*/
.nav {
    height: 47px;
    line-height: 47px;
    text-align: center;
    border-bottom: 2px solid #b1191a;
    font-size: 16px;
}

.nav .dropdown {
    position: relative;
    float: left;
    width: 209px;
    height: 47px;
    background-color: #b1191a;
    color: #ffffff;
}

.nav .w > ul {
    float: left;

}

.nav .w > ul li {
    float: left;
    padding: 0 25px;
}

.dd {
    display: none;
    position: absolute;
    width: 210px;
    height: 465px;
    background-color: #c81623;
    top: 47px;
}

.dd ul li {
    padding: 0 0 0 2px;
    line-height: 31px;
    text-align: left;
}

.dd ul li:hover {
    background-color: #fff;
}

.dd ul li:hover a {
    color: red;
}

.dd ul li a {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    padding-left: 7px;
}

.dd ul li::after {
    content: '\e6ed';
    float: right;
    font-family: 'iconfont';
    padding-right: 7px;
    line-height: 31px;
}

.dropdown:hover .dd {
    display: block;
}


